body {
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  background: var(--primary-bgr);
  color: var(--main-color-text);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

.section {
  padding: 94px 0 94px 0;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.icon {
  fill: currentColor;
  transition: fill 250ms var(--timing-function);
}

.btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--timing-function);
  cursor: pointer;
}
