.feature-section {
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 0px;
  color: var(--main-color-text);
}

.features__title {
  color: var(--main-color-text);
  margin-bottom: 10px;
  &--invisible {
    visibility: hidden;
    height: 0;
  }
}
