.footer {
  padding: 60px 0 60px 0;
  background-color: var(--accent-bgr);
}

.footer__wrapper {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  margin-right: 0;
  padding: 0;
  &--accent {
    color: #ffffff;
  }
}

.address__wrapper {
  margin-top: 20px;
  font-style: normal;
}

.contact-info__link {
  display: inline-block;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-bgr);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address-link.address-contact {
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}

/* footer social link */

.footer-social {
  padding-left: 70px;
}

.footer-text {
  margin-bottom: 20px;
  font-weight: bold;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bgr);
}

.footer-social-list {
  display: flex;
}

.footer-social-list > .item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}

.footer-social-link svg {
  fill: var(--primary-bgr);
  transition: fill 250ms var(--timing-function);
}

.footer-social-link:hover {
  background-color: var(--accent-color);
}

.footer-social-link:hover svg,
.footer-social-link:focus svg {
  fill: var(--primary-bgr);
}
/* footer-form subscribers */
.footer-subscriber {
  margin-left: 93px;
}

.footer-field {
  display: flex;
  justify-items: baseline;
}

.footer-label {
  margin-right: 12px;
}

.footer-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--accent-bgr);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.footer-input:focus,
.footer-input:hover {
  border: 1px solid var(--accent-color);
}

.footer-submit-btn {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 55px;
  display: flex;
  justify-items: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--sec-text-color);
  transition: background-color 250ms var(--timing-function) box-shadow 250ms var(--timing-function);
}

.footer-submit-text {
  margin-right: 10px;
}

.footer-submit-ico {
  fill: var(--primary-bgr);
  transition: fill 250ms var(--timing-function);
}

.footer-submit-btn:hover,
.footer-submit-btn:focus {
  background-color: var(--accent-second-color);
}
